body{
    margin: 0%;
    padding: 10px;
    background-color:#d4f1f4;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
}
#getFact{
    float: inline-end;
    margin-right: 10px;
    padding: 0%;
    margin-top: 36%;    
    background-color:rgb(103, 178, 244);
    border: 0px;
        /* transition: all ease-in-out 0.2s;
        cursor: pointer; */
}
#getweather{
    background-color:#d4f1f4;
    outline: none;
    vertical-align: middle;
    border: 0px;
    color: white;
    background-color: #050a30;
}

.text{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5%;
    margin: 0%;
    color: black;
}

.container{
    margin: 10%;
    margin-top: 5%;
    height: 650px;
    width: 100%;
    background-color: #d4f1f4;
    display: flex;
    background: linear-gradient(to right, #d4f1f4 0%, 10%,#050a30 40%,#d4f1f4 70%,#d4f1f4 100%);
}
.container-left{
    height: 650px;
    width: 40%;
    background-color: #7ec8e3;  
    border-radius: 50px;
    order: 2;

}
.container-right{
    height: 650px;
    width: 40%;
    background-color: #050a30;
    float: left;
    color: white;
    order: 1;

}
.content-right{
    padding: 40px;
    padding-left: 10%;
    
}
.content-left{
    padding: 20px;
}

#city-lbl{
    margin: 20px;
    margin-top: 150px; 
    margin-left: 0px;
    font-size: large;
   
}
#getcity{
    border: 1px rgb(61, 76, 86);
    border-radius: 15px;
    outline: none;
    width: 85%;
    height: 25px;
}
#weatherdata-left{
    padding-left: 30px;
}
#weather-img{
    margin-top: 80px;
    height: auto;
    width: auto;

}
#weather{
    padding-left: 20px;
    margin-top: 40px;
}
#details{
    text-align: center;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: large;
    }
    .container{
        height: auto;
        width: 75;
        margin-left: 0px;
        display: flex;
        flex-direction:column;
        background: linear-gradient(to bottom,#050a30 0%,#050a30 94% ,#d4f1f4 94.01%);


    }
    .container-right{
        width: auto;
        height: 20%;
    }
    .container-left{
        width: auto;
        height: auto;
    }
    #getcity{
        margin-top: 15px;
    }
    #city-lbl{
        margin-left: 0px;
    }
    #weatherdata-left{
        padding-left: 0px;
    }
    .content-left{
        background-color:#7ec8e3;
        border-radius: 50px;
    }
   
}
    